:host {
  @apply flex w-[472.782px] h-[81.487px] p-[15.112px] justify-center items-center gap-[15.112px] rounded-[34.037px] bg-[#F0F0F0];
  position: absolute;
  z-index: 20;
  left: calc(50vw - 240px);
  top: calc(38vh - 172px);

  margin-block: 30px;
  @media screen and (max-width: 426px) {
   // width: 380px;
    //left: 20px;
    height: 71px;
    width: 350px;
    left: 37px;
  }
  @media screen and (max-width: 376px) {
    width: 311px;
    top: 259px;
    left: 24px;
  }
}

.toggle-btn {
  @apply flex w-[204.583px]  h-[69.35px]  p-[13.788px] justify-center items-center gap-[13.788px] rounded-[31.055px] bg-[transparent] transition-all duration-300;
  @media screen and (max-width: 426px) {
    height: 58px;
  }
}
.toggle-btn_active {
  @apply bg-white;
}

button {
  span {
    color: #141414;
    font-family: Poppins;
    font-size: 20.805px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
