<form>
  <div class="box-1 flex flex-col justify-center items-center gap-12">
    <div class="w-[472.782px] h-[81.487px]"></div>
    <!-- <ng-content></ng-content> -->
    <div class="fristslect">
      <div class="Amount">
        <h2>Amount</h2>
        <div>
          <input name="text" type="text" [(ngModel)]="inputValue" required min="0" pattern="^(\$|£|€)?\d+(\.\d+)?$" />
        </div>
      </div>

      <div class="from">
        <h2>From</h2>
        <app-selector defaultCurrencyCode="EGP"></app-selector>
      </div>
    </div>
    <div class="fristslect">
      <div class="from">
        <h2>To</h2>
        <app-selector defaultCurrencyCode="USD"></app-selector>
      </div>

      <div class="Amount">
        <h2>Amount</h2>
        <div>
          <input name="text" type="text" readonly="readonly" value="" />
        </div>
      </div>
    </div>
    <div>
      <button (click)="getSelectValue()" class="btn" type="button">
        Convert
      </button>
    </div>
  </div>
</form>