<form>
  <div class="box-1 flex flex-col justify-center items-center gap-[57.29px]">
    <div class="w-[472.782px] h-[40.487px]"></div>
    <div class="flex justify-center items-center flex-col gap-[21.11px]">
      <div class="fristslect">
        <div class="Amount">
          <h2>Amount</h2>
          <div>
            <input
              name="text"
              type="text"
              [(ngModel)]="inputValue"
              required
              min="0"
              pattern="^(\$|£|€)?\d+(\.\d+)?$"
              #amountInput="ngModel"
            />
          </div>
        </div>

        <div class="from">
          <h2>From</h2>
          <app-selector
            defaultCurrencyCode="EGP"
            (selectedCurrency)="onCurrencySelected($event, true)"
            #dropdownFrom
          ></app-selector>
        </div>
      </div>
      <div class="fristslect">
        <div class="from">
          <h2>To</h2>
          <app-selector
            defaultCurrencyCode="USD"
            (selectedCurrency)="onCurrencySelected($event, false)"
            #dropdownTo
          ></app-selector>
        </div>

        <div class="Amount">
          <h2>Amount</h2>
          <div>
            <input
              name="text"
              type="text"
              readonly="readonly"
              [value]="showLoader ? 'Loading...' : outputValue"
              class="result"
              [disabled]="
                !isValidInput() || !selectedCurrencyFrom || !selectedCurrencyTo
              "
            />
          </div>
        </div>
      </div>
    </div>

    <div>
      <button (click)="performCurrencyConversion()" class="btn" type="button">
        Convert
      </button>
    </div>
    <ng-container *ngIf="showLoader">
      <loader></loader>
    </ng-container>
  </div>
</form>
