:host {
  width: 41.87256rem;
  height: 45.5625rem;
  border-radius: 1.13981rem;
  background: linear-gradient(
    134deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(157, 157, 157, 0.2) 100%
  );
  backdrop-filter: blur(4.504402160644531px);
  z-index: 5;
  display: grid;
  place-content: center;
  @media screen and (max-width: 426px) {
    // width: 356px;
    width: 410px;
  }
  @media screen and (max-width: 376px) {
    width: 331px;
    height: 508px;
  }
}

.box-1 {
  @media screen and (max-width: 376px) {
    gap: 0.3rem;
  }
}
form {
  .fristslect {
    display: flex;
    // padding: 10rem;
    gap: 0.9425rem;

    input {
      width: 182.424px;
      height: 72.366px;
      flex-shrink: 0;
      border-radius: 30.153px;
      border: 0.754px solid #c5c5c5;
      background: #f9f9f9;
      color: #000;
      font-family: Open Sans;
      font-size: 24.122px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 0 2rem;
      // margin-bottom: 3rem;
      outline-color: rgba(0, 157, 157, 0.2);
      @media screen and (max-width: 376px) {
        width: 138px;
        // font-size: 20px;
      }
      @media screen and (max-width: 426px) {
        font-size: 20px;
      }
    }

    h2 {
      color: #fff;
      font-family: Montserrat;
      font-size: 21.107px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 1.7669rem;
      @media screen and (max-width: 376px) {
        margin-bottom: 0.7669rem;
        font-size: medium;
      }
      @media screen and (max-width: 426px) {
        //margin-bottom: 0.7669rem;
        font-size: medium;
      }
    }
  }

  button {
    border-radius: 30.153px;
    background: #0e98d0;
    width: 474.904px;
    height: 72.366px;
    flex-shrink: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 24.122px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    // margin-top: 5%;

    @media screen and (max-width: 426px) {
      //width: 400px;
      width: 380px;
      font-size: large;
      //height: 72.36px;
    }
    @media screen and (max-width: 376px) {
      width: 318px;
    }
  }

  .btn[disabled] {
    opacity: 0.6; /* Reduce opacity for disabled state */
    cursor: not-allowed; /* Change cursor style for disabled state */
  }

  select {
    width: 277.404px;
    height: 72.366px;
    border-radius: 30.153px;
    border: 0.754px solid #c5c5c5;
    background: #f9f9f9;
    padding: 0 2rem;
    outline-color: rgba(0, 157, 157, 0.2);

    @media screen and (max-width: 426px) {
      width: 150px;
      //height: 72.36px;
    }
    option {
      color: #202020;
      font-family: Poppins;
      font-size: 23.908px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
