.currency-exchange {
  background-image: url("../assets/images/bg.png");
  background-size: 100% 100%;
  position: relative;
  height: 99vh;
  background-repeat: no-repeat;
  width: 100%;
}

.currency-ex-card {
  display: grid;
  place-content: center;
  overflow: hidden;
}

.overlay {
  background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.9) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.carda {
  width: 41.87256rem;
  height: 45.5625rem;
  border-radius: 1.13981rem;
  background: linear-gradient(
    134deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(157, 157, 157, 0.2) 100%
  );
  backdrop-filter: blur(4.504402160644531px);
  z-index: 5;
  display: grid;
  place-content: center;
  // gap: 52px;
  // position: absolute;
  // left: 28%;
  margin-inline: auto;
  overflow: auto; /* Add this line to enable scrollbars if content overflows */
}

.box-exchange {
  width: 41.87256rem;
  height: 45.5625rem;
  border-radius: 1.13981rem;
  background: linear-gradient(
    134deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(157, 157, 157, 0.2) 100%
  );
  backdrop-filter: blur(4.504402160644531px);
  z-index: 5;
  @media screen and (max-width: 768px) {
    width: 33.87256rem;
    height: 43.5625rem;
  }
}

nav {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  padding-top: 5.05rem;
  margin-bottom: 30px;
  // @media screen and (max-width:426px) {
  // width: 240px;
  // }
  @media screen and (max-width: 376px) {
    margin-bottom: 11px;
  }
}
nav img {
  width: 307px;
  height: 52.489px;
  margin-left: 9.0625rem;
  @media screen and (max-width: 1024px) {
    margin: auto;
  }
}

// fav-part
.Mycontainer {
  margin-bottom: 168.11px;
  margin-top: 78.83px;
  padding-inline: 3.5rem;

  // @media screen and (max-width: 1023px) {
  //   // padding-inline: 0;
  // }

  @media screen and (max-width: 426px) {
    padding-inline: 0rem;
  }
  @media screen and (max-width: 376px) {
    padding-inline: 0rem;
  }

  width: 90%;
  margin-inline: auto;
  h4 {
    color: #121212;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4901rem;
    padding: 1.25rem;
    font-family: "SF Pro Display";
    font-size: 1.86756rem;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.fav-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px;
  // margin-top: 4.9269rem;
  // margin-bottom: 10.5069rem;

  button {
    margin-left: auto;
    display: flex;
    width: 311px;
    height: 74px;

    border-radius: 2.36575rem;
    border: 1.893px solid #000;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    gap: 18.926px;
    flex-shrink: 0;
  }

  button.colse-btn {
    display: flex;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: #202020;
    font-family: Montserrat;
    font-size: 2.03125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    button {
      margin: auto;
    }
    h3 {
      text-align: center;
    }
  }
}

.fav-header button span {
  color: #363636;
  font-family: Poppins;
  font-size: 1.41944rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fav-list {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;

  @media (max-width: 776px) {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.currency-dialog-card {
  padding-inline: 20px;
  @media screen and (max-width: 376px) {
    width: 300px;
    right: 37px;
    top: 0%;
    height: 477px;
  }
}

.title {
  color: #121212;
  font-family: Montserrat;
  font-size: 1.51581rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.02113rem; /* 133.333% */
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.overLay {
  fill: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.9) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
