*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.currency-exchange {
  background-image: url("../assets/images/bg.png");
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
}

.currency-ex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.box-exchange {
  width: 41.87256rem;
  height: 45.5625rem;
  border-radius: 1.13981rem;
  background: linear-gradient(
    134deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(157, 157, 157, 0.2) 100%
  );
  backdrop-filter: blur(4.504402160644531px);
  z-index: 5;
}

nav {
  width: 307px;
  height: 68.489px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  padding-top: 5.05rem;
  margin-left: 9.0625rem;
}
nav img {
  width: 307px;
  height: 52.489px;
}

// fav-part
.container {
  margin-bottom: 168.11px;
  margin-top: 78.83px;
  padding-inline: 3.5rem;
  width: 90%;
  margin-inline: auto;
  h4 {
    color: #121212;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4901rem;
    padding: 1.25rem;
    font-family: "SF Pro Display";
    font-size: 1.86756rem;
  }
}

.fav-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  // margin-top: 4.9269rem;
  // margin-bottom: 10.5069rem;

  @media (max-width: 776px) {
    grid-template-columns: 1fr;
    button {
      margin-left: 0;
    }
  }
  h3 {
    color: #202020;
    font-family: Montserrat;
    font-size: 2.03125rem;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
  }
}

button {
  margin-left: auto;
  display: flex;
  width: 311px;
  height: 74px;

  border-radius: 2.36575rem;
  border: 1.893px solid #000;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 18.926px;
  flex-shrink: 0;
}

button.colse-btn {
  display: flex;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.fav-header button span {
  color: #363636;
  font-family: Poppins;
  font-size: 1.41944rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fav-list {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;

  @media (max-width: 776px) {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.currency-dialog-card {
  padding-inline: 20px;
}

.title {
  color: var(--greyscale-grey-900, #121212);
  font-family: Montserrat;
  font-size: 1.51581rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.02113rem; /* 133.333% */
}

.overLay {
  fill: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.9) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
