*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-block-start: 2rem;
  padding-inline: 3.5rem;
  width: 90%;
  margin: 0 auto;
  h4 {
    color: #121212;
    font-family: Poppins;
    font-size: 1.97688rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.63581rem;
    padding: 20px;
  }
}

.fav-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;

  @media (max-width: 776px) {
    grid-template-columns: 1fr;
    button {
      margin-left: 0;
    }
  }
  h3 {
    color: #202020;
    font-family: Poppins;
    font-size: 2.15013rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
  }
}

button {
  margin-left: auto;
  display: flex;
  width: 311px;
  height: 74px;
  border-radius: 2.36575rem;
  border: 1.893px solid #000;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 18.926px;
  flex-shrink: 0;
}

button.colse-btn {
  display: flex;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.fav-header button span {
  color: #363636;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fav-list {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;

  @media (max-width: 776px) {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
