<loader *ngIf="showLoader"></loader>

<ng-container *ngIf="currenciesFromAPI$ | async as CurrenciesFromAPI">
  <div class="currency-exchange">
    <div class="margin-collapse">
      <nav><img src="../assets/images/logo.png" alt="logo" /></nav>
    </div>
    <div class="currency-ex-card flex-col">
      <app-converter *ngIf="activeTab === 'convert'">
        <toggle-btns
          [toggleData]="toggleData"
          (setActive$)="activeTab = $event"
        ></toggle-btns>
      </app-converter>

      <p *ngIf="activeTab === 'compare'">Compare ****************</p>
    </div>
  </div>

  <div class="fav-section">
    <div class="container">
      <div class="fav-header">
        <h3>live exchange rates</h3>
        <!-- need btn combonent -->
        <add-btn (click)="showFavoriteCurrencies = true"></add-btn>
      </div>

      <h4>My Portfolio</h4>
      <div class="fav-list grid-container">
        <div
          *ngFor="let selectedCurrency of CurrenciesFromAPI | filterFavCurrency"
        >
          <app-currency-card [currency]="selectedCurrency">
            <ng-container rate>
              <p class="rate">
                {{ selectedCurrency.rate | number : "1.0-4" }}
              </p>
            </ng-container>
          </app-currency-card>
        </div>
      </div>
    </div>
  </div>
  <!-- ^ === {list of fav} -->
  <div
    *ngIf="showFavoriteCurrencies"
    class="fixed inset-0 z-50 flex items-center justify-end bg-black bg-opacity-50"
  >
    <div
      class="currency-dialog-card w-[496px] h-[815.809px] relative top-[-3%] right-36 rounded-[29px] gap-[22.82px] bg-white inline-flex flex-col"
    >
      <close-btn (click)="showFavoriteCurrencies = false"></close-btn>
      <div class="overflow-auto">
        <h3 class="title">My Favorites</h3>
        <div *ngFor="let currency of CurrenciesFromAPI">
          <app-currency-card [currency]="currency">
            <label checkbox class="custom-checkbox">
              <input
                type="checkbox"
                class="px-5 checkbox-input"
                (change)="toggleCurrency(currency, CurrenciesFromAPI)"
                [checked]="currency.checked"
              />
              <span class="checkbox"></span>
            </label>
          </app-currency-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
