button {
  margin-left: auto;
  display: flex;
  width: 311px;
  height: 74px;

  border-radius: 2.36575rem;
  border: 1.893px solid #000;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 18.926px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  button {
    margin: auto;
  }
}
@media screen and (max-width: 321px) {
  button {
    width: 281px;
  }
}

button span {
  color: #363636;
  font-family: Poppins;
  font-size: 1.41944rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
