:host {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 47px;
}

.dropdown-button {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7.54px;
  border-radius: 30.153px;
  border: 0.754px solid #c5c5c5;
  background-color: #f9f9f9;
  width: 277.404px;
  height: 72.366px;
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  z-index: 1;
  background-color: rgb(249, 249, 249);
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 31px;
}

.dropdown-list li {
  padding: 15px 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-list li:hover {
  background-color: rgb(227, 227, 227);
}

.flag-image {
  margin-left: 16.58px;
  background: lightgray 50% / cover no-repeat;
  width: 42.214px;
  height: 30.153px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 7.54px;
  span {
    color: #202020;
    font-family: Open Sans;
    font-size: 21.107px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  transition: transform 0.2s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 426px) {
  .dropdown-button {
    height: 72.36px;
   width: 20px;
  }
}

@media screen and (max-width: 640px) {
  .dropdown-button {
    width: 152px;
    height: 72.36px;
    padding-right: 0px;
  }
  .custom-dropdown {
    padding-left: 0px;
    width: 50%;
  }
  .dropdown-arrow {
    position: relative;
    right: 0px;
  }
  .dropdown-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 25%;
    z-index: 100 !important;
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
  }

  .dropdown-list li {
    z-index: 100 !important;
    padding: 8px 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .dropdown-list li:hover {
    background-color: rgb(227, 227, 227);
  }

  .flag-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}
