<form>
  <div class="flex flex-col justify-center items-center gap-[18.99px]">
    <!-- <ng-content></ng-content> -->
    <div class="w-[472.782px] h-[70.487px]"></div>

    <div class="amount-input">
      <div class="Amount">
        <label for="input-3" class="am-i">Amount</label>
        <div>
          <input id="input-3"
            name="text"
            type="text"
            [(ngModel)]="inputValue"
            required
            min="0"
            pattern="^(\$|£|€)?\d+(\.\d+)?$"
            #amountInput="ngModel"
          />
        </div>
      </div>
      <div class="from-country">
        <div class="from">
          <label for="select-3">From</label>
          <app-selector id="select-3"
            defaultCurrencyCode="EGP"
            class="custom-style"
            (selectedCurrency)="onCurrencySelected($event, 'From')"
            #dropdownFrom
          ></app-selector>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap items-center justify-center gap-[23.38px]">
      <div class="amount-input">
        <div class="from-country">
          <div class="from">
            <label for="select-4">Targeted Currency</label>
            <app-selector id="select-4"
              defaultCurrencyCode="USD"
              class="custom-style"
              (selectedCurrency)="onCurrencySelected($event, 'To1')"
              #dropdownTo1
            ></app-selector>
          </div>
        </div>
        <div class="from-country">
          <div class="from">
            <label for="select-5">Targeted Currency</label>

            <app-selector id="select-5"
              defaultCurrencyCode="GBP"
              class="custom-style"
              (selectedCurrency)="onCurrencySelected($event, 'To2')"
              #dropdownTo2
            ></app-selector>
          </div>
        </div>
      </div>

      <div class="amount-input">
        <div class="Amount">
          <div class="output">
            <input
              name="text"
              readonly="readonly"
              [value]="resultValue1"
              type="text"
            />
          </div>
        </div>
        <div class="Amount">
          <div class="output">
            <input
              name="text"
              readonly="readonly"
              [value]="resultValue2"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>

    <div>
      <button (click)="getSelectedValue()" class="btn" type="button">
        Compare
      </button>
    </div>
    <ng-container *ngIf="showLoader">
      <loader></loader>
    </ng-container>
  </div>
</form>
<!-- (click)="DoCompare()" -->
