<form>
  <div class="flex flex-col justify-center items-center gap-12">
    <!-- <ng-content></ng-content> -->
    <div class="w-[472.782px] h-[81.487px]"></div>

    <div class="amount-input">
      <div class="Amount">
        <h2 class="am-i">Amount</h2>
        <div>
          <input name="text" type="string" [(ngModel)]="inputValue" />
        </div>
      </div>
      <div class="from-country">
        <div class="from">
          <h2>From</h2>
          <!-- <select #selectfrom>
            <option value="EGP">
              <img
                src="./../../../assets/images/egy.png"
                alt=""
                class="w-[40.912px] h-[29.223px] z-10"
              />
            </option>
            <option [value]="currency" *ngFor="let currency of currencies" >{{currency}}</option>

          </select> -->
          <app-selector
            defaultCurrencyCode="EGP"
            class="custom-style"
          ></app-selector>
        </div>
      </div>
    </div>

    <div class="amount-input">
      <div class="from-country">
        <div class="from">
          <h2>Targeted Currency</h2>
          <!-- <select #selecttarget1>
            <option [value]="currency" *ngFor="let currency of currencies">
              {{ currency }}
            </option>
          </select> -->
          <app-selector
            defaultCurrencyCode="USD"
            class="custom-style"
          ></app-selector>
        </div>
      </div>
      <div class="from-country">
        <div class="from">
          <h2>Targeted Currency</h2>
          <!-- <select #selecttarget2>
            <option [value]="currency" *ngFor="let currency of currencies">
              {{ currency }}
            </option>
          </select> -->
          <app-selector
            defaultCurrencyCode="GBP"
            class="custom-style"
          ></app-selector>
        </div>
      </div>
    </div>

    <div class="amount-input">
      <div class="Amount">
        <div class="output">
          <input name="text" readonly="readonly" type="text" />
        </div>
      </div>
      <div class="Amount">
        <div class="output">
          <input name="text" readonly="readonly" type="text" />
        </div>
      </div>
    </div>

    <div>
      <button (click)="getSelectedValue()" class="btn" type="button">
        Compare
      </button>
    </div>
  </div>
</form>
